In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("static\citibike.csv")

In [4]:
df.shape

(1877884, 15)

In [6]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.877884e+06,1.877168e+06,1.877884e+06,1.877884e+06,1.877168e+06,1.877884e+06,1.877884e+06,1.877884e+06,1.877884e+06,1.877884e+06
mean,9.675149e+02,1.641635e+03,4.073710e+01,-7.398237e+01,1.634439e+03,4.073674e+01,-7.398257e+01,2.652316e+04,1.979745e+03,1.154400e+00
std,7.893692e+03,1.454014e+03,3.115605e-02,1.971399e-02,1.453672e+03,3.097150e-02,1.977184e-02,6.363019e+03,1.188049e+01,5.615422e-01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.408364e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.750000e+02,3.820000e+02,4.071740e+01,-7.399596e+01,3.820000e+02,4.071723e+01,-7.399601e+01,2.010700e+04,1.969000e+03,1.000000e+00
50%,6.400000e+02,5.140000e+02,4.073705e+01,-7.398565e+01,5.130000e+02,4.073650e+01,-7.398602e+01,2.809200e+04,1.982000e+03,1.000000e+00
75%,1.129000e+03,3.263000e+03,4.075892e+01,-7.397137e+01,3.263000e+03,4.075757e+01,-7.397179e+01,3.218900e+04,1.989000e+03,1.000000e+00
max,2.431651e+06,3.705000e+03,4.086900e+01,-7.387800e+01,3.705000e+03,4.086900e+01,-7.387800e+01,3.490700e+04,2.002000e+03,2.000000e+00

In [7]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [16]:
df['tripduration'].apply(lambda x: x/60).mean()

16.125248648655937

In [28]:
df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1

In [25]:
df[df['start station id'] == df ['end station id']].count()

tripduration               41364
starttime                  41364
stoptime                   41364
start station id           41364
start station name         41364
start station latitude     41364
start station longitude    41364
end station id             41364
end station name           41364
end station latitude       41364
end station longitude      41364
bikeid                     41364
usertype                   41364
birth year                 41364
gender                     41364
dtype: int64

In [ ]:
for i,j in df.groupby(['bikeid'])['starttime'].count().items():
    if j==559:
        print(i)
        break

In [14]:
a = df.groupby(['bikeid'])['starttime'].count()
y = df.groupby(['bikeid'])['tripduration'].mean()

In [26]:
a[a==max(a)]

bikeid
33875    559
Name: starttime, dtype: int64

In [13]:
y[y==max(y)]

bikeid
17548    488022.4
Name: tripduration, dtype: float64

In [19]:
type(df.groupby(['bikeid'])['tripduration'])

pandas.core.groupby.groupby.SeriesGroupBy

In [26]:
# df['start station id'][df['start station id'].isnull()]

In [44]:
df.groupby(['usertype'])[['tripduration']].mean().apply(lambda x: x/60)

            tripduration
usertype
Customer       33.415379
Subscriber     13.332348